PORT=4004
NODE_ENV=development
MONGO_URI=mongodb://mongodb:27017/notification_db
KAFKA_BROKERS=kafka:9092
KAFKA_GROUP_ID=notification-group
EMAIL_FROM=no-reply@eventiq.local
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
CORS_ORIGIN=http://localhost:5173
