PORT=8081
MONGO_URI=mongodb://mongodb:27017/event_db
AUTH_SERVICE_URL=http://auth-service:4001
KAFKA_BOOTSTRAP_SERVERS=your-namespace.servicebus.windows.net:9093
KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_MECHANISM=PLAIN
KAFKA_SASL_JAAS_CONFIG=org.apache.kafka.common.security.plain.PlainLoginModule required username="$ConnectionString" password="Endpoint=sb://your-namespace.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=YOUR_KEY";
KAFKA_SSL_ENDPOINT_IDENTIFICATION_ALGORITHM=https
CORS_ORIGIN=http://localhost:5173
EVENT_CREATED_TOPIC=event-created
EVENT_REGISTRATION_TOPIC=event-registration
RATE_LIMIT_MAX_REQUESTS=120
RATE_LIMIT_WINDOW_SECONDS=60
