PORT=4000
JWT_SECRET=change_me_super_secret
CORS_ORIGIN=http://localhost:5173
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=300
AUTH_SERVICE_URL=http://auth-service:4001
EVENT_SERVICE_URL=http://event-service:8081
RESOURCE_SERVICE_URL=http://resource-service:8001
NOTIFICATION_SERVICE_URL=http://notification-service:4004
