# Node
node_modules/
dist/
build/
coverage/

# Python
__pycache__/
*.pyc
.venv/
.env

# Java
**/target/
**/.mvn/wrapper/maven-wrapper.jar

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
**/.env
